body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#vmContainer{
    margin-left:0;
    margin-right:0;
}
#jobDetailsTable{
    margin-left:15px;
}

#vmDetailsCaption{
    margin-bottom: 24px;
    
}

#jobControlls{
    margin-bottom: 24px;
    padding-left: 15px;
}


.overlayPopUp {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*right: 0;
    bottom: 0;*/
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlayContainer {
    background-color: white;
    margin-top: 5%;
    width: 40%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

#newJobHeader{
    text-align:center;
}

#restoreHeader {
    text-align: center;
}

#newJobNextButton {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

.newJobElement{
    margin-top: 5%;
}

.restoreElement {
    margin-top: 5%;
}

#txtEncryptionPassword{
    display:none;
}

.subHeadline{
    text-align:center;
    margin-top:10%;
}

#page5Form{
    max-height:500px;
    overflow-y:auto;
    overflow-x:auto;
}

#restorePointTable .active {
    background-color: #b3b3ff;
}

#startRestoreButton{
    margin-top:5%;
    margin-bottom: 5%;
}

.boxElement {
    margin-top: 5%;
}

.liLeftAlign{
    text-align:left;
}

.flrSwalStyles{
    max-height: 80%;
}

#flrBrowser{
    max-height: 30vh;
    overflow:scroll;
}