<div id="hostEditID"></div>
<div class="settingWrapper">
    <div class="settingInput">
        <label for="inputDescription" class="settingsInputLabel">$$description$$:</label>
        <input type="text" class="form-control settingInputControl" id="inputDescription">
    </div>

    <div class="settingInput">
        <label for="inputHost" class="settingsInputLabel">$$hyperv_hostname$$:</label>
        <input type="text" class="form-control settingInputControl" id="inputHost">
    </div>

    <div class="settingInput">
        <label for="inputUser" class="settingsInputLabel">$$username$$:</label>
        <input type="text" class="form-control settingInputControl" id="inputUser">
    </div>

    <div class="settingInput">
        <label for="inputPass" class="settingsInputLabel">$$password$$:</label>
        <input type="text" class="form-control settingInputControl" id="inputPass">
    </div>
</div>
