<form id="helpForm">
    <div class="helpWrapper">
        Alle relevanten Hilfsthemen sind unter folgendem Link zu finden:<br />
        <a href="https://nxmbackup.com/wiki" target="_blank">https://nxmbackup.com/wiki</a><br /><br />
        Sollten Sie pers&ouml;nliche Unterst&uuml;tzung ben&ouml;tigen, so melden Sie sich mit Ihrem Anliegen bitte an:<br />
        <a href="mailto:mr@nxmbackup.com">mr@nxmbackup.com</a><br /><br />
        Sollten Sie vom Support aufgefordert werden ein Support-Paket zu erstellen, so verwenden Sie dazu den folgenden Link. Nach dem Klick wird ein Datei-Download gestartet. Diese Datei muss zum Support &uuml;bermittelt werden:<br />
        <a href="#" id="createSupportPackage">Support Paket erstellen</a>
    </div>

    
</form>