<table class="table table-sm table-borderless">
    <tbody>
        <tr>
            <th class="executionDetailsRow" scope="row">$$processed_data$$:</th>
            <td>{{bytesProcessed}}</td>
        </tr>
        <tr>
            <th class="executionDetailsRow" scope="row">$$transferred_data$$:</th>
            <td>{{bytesTransfered}}</td>
        </tr>
        <tr>
            <th class="executionDetailsRow" scope="row">$$compression_efficiency$$:</th>
            <td>{{compressionEfficiency}}%</td>
        </tr>
        <tr>
            <th class="executionDetailsRow" scope="row">$$duration$$:</th>
            <td>{{duration}}</td>
        </tr>
    </tbody>
</table>
