<table class="table table-sm table-borderless">
    <tbody>
        <tr>
            <th class="executionDetailsRow" scope="row">Verarbeitete Daten:</th>
            <td>{{bytesProcessed}}</td>
        </tr>
        <tr>
            <th class="executionDetailsRow" scope="row">Übertragene Daten:</th>
            <td>{{bytesTransfered}}</td>
        </tr>
        <tr>
            <th class="executionDetailsRow" scope="row">Kompressions-Effizienz:</th>
            <td>{{compressionEfficiency}}%</td>
        </tr>
        <tr>
            <th class="executionDetailsRow" scope="row">Dauer:</th>
            <td>{{duration}}</td>
        </tr>
    </tbody>
</table>
