<form>
    <h5 class="center_div subHeadline">Zeitplan festlegen</h5>
    <div class="newJobElement center_div">
        <div class="centeredElementSpan">
            <label for="sbJobInterval">Zeitinterval</label>
            <select id="sbJobInterval" class="form-control">
                <option data-interval="hourly">Stündlich</option>
                <option data-interval="daily">Täglich</option>
                <option data-interval="weekly" selected>Wöchentlich</option>
                <option data-interval="never">Nie</option>
            </select>
        </div>
    </div>
    <h5 class="center_div subHeadline newJobElement">Zeitplan-Details</h5>
    <div class="center_div">
        <span class="centeredElementSpan">
            <label for="spJobIntervalMinute">Minute</label>
            <input id="spJobIntervalMinute" class="newJobInput" type="number" value="0" min="0" max="59" step="1" />
        </span>
    </div>

    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label for="spJobIntervalHour">Stunde</label>
            <input id="spJobIntervalHour" class="newJobInput" type="number" value="0" min="0" max="23" step="1" />
        </span>
    </div>

    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label for="sbJobDay">Tag</label>
            <select id="sbJobDay" class="form-control">
                <option data-day="monday" selected>Montag</option>
                <option data-day="tuesday">Dienstag</option>
                <option data-day="wednesday">Mittwoch</option>
                <option data-day="thursday" selected>Donnerstag</option>
                <option data-day="friday">Freitag</option>
                <option data-day="saturday">Samstag</option>
                <option data-day="sunday">Sonntag</option>
            </select>
        </span>
    </div>

    <div class="text-center">
        <button id="newJobNextButton" type="button" class="btn btn-primary">Weiter</button>
    </div>
</form>
