<form>
    <h5 class="center_div subHeadline">Aufbewahrung festlegen</h5>

    <div id="incrementalOptions">
        <div class="newJobElement center_div">
            <span class="centeredElementSpan">
                <label class="enter_div" for="spBlockSize">Vollbackup nach Anzahl Backups</label>
                <input id="spBlockSize" type="number" value="2" min="2" max="20" step="1" />
            </span>
        </div>

        <div class="newJobElement center_div">
            <span class="centeredElementSpan">
                <label class="enter_div" for="sbRotationType">Rotationstyp</label>
                <select id="sbRotationType" class="form-control">
                    <option data-rotationtype="merge" selected>Zusammenführen</option>
                    <option data-rotationtype="blockrotation">Blockrotation</option>
                </select>
            </span>
        </div>
    </div>

    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label id="lblMaxElements" class="enter_div" for="spMaxElements">Anzahl aufzubewahrender Backups</label>
            <input id="spMaxElements" type="number" value="1" min="1" max="50" step="1" />
        </span>
    </div>

    <div class="text-center">
        <button id="newJobNextButton" type="button" class="btn btn-primary">Weiter</button>
    </div>
</form>