<form>
    <h5 class="center_div subHeadline">$$set_schedule$$</h5>
    <div class="newJobElement center_div">
        <div class="centeredElementSpan">
            <label for="sbJobInterval">$$time_interval$$</label>
            <select id="sbJobInterval" class="form-control">
                <option data-interval="hourly">$$hourly$$</option>
                <option data-interval="daily">$$daily$$</option>
                <option data-interval="weekly" selected>$$weekly$$</option>
                <option data-interval="never">$$never$$</option>
            </select>
        </div>
    </div>
    <h5 class="center_div subHeadline newJobElement">$$schedule_details$$</h5>
    <div class="center_div">
        <span class="centeredElementSpan">
            <label for="spJobIntervalMinute">$$minute$$</label>
            <input id="spJobIntervalMinute" class="newJobInput" type="number" value="0" min="0" max="59" step="1" />
        </span>
    </div>

    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label for="spJobIntervalHour">$$hour$$</label>
            <input id="spJobIntervalHour" class="newJobInput" type="number" value="0" min="0" max="23" step="1" />
        </span>
    </div>

    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label for="sbJobDay">$$day$$</label>
            <select id="sbJobDay" class="form-control">
                <option data-day="monday" selected>$$monday$$</option>
                <option data-day="tuesday">$$tuesday$$</option>
                <option data-day="wednesday">$$wednesday$$</option>
                <option data-day="thursday" selected>$$thursday$$</option>
                <option data-day="friday">$$friday$$</option>
                <option data-day="saturday">$$saturday$$</option>
                <option data-day="sunday">$$sunday$$</option>
            </select>
        </span>
    </div>

    <div class="text-center">
        <button id="newJobNextButton" type="button" class="btn btn-primary">$$next$$</button>
    </div>
</form>
