<form>
    <h5 class="center_div subHeadline">$$select_vms$$</h5>
    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label class="enter_div" for="sbHyperVHost">$$select_hyperv_host$$</label><br />
            <label id="hostHint" class="enter_div" for="sbHyperVHost">$$host_select_hint$$</label>
            <select id="sbHyperVHost" class="form-control">
                {{#hosts}}
                <option class="availablehost" data-hostid="{{id}}">{{description}}</option>
                {{/hosts}}
            </select>
        </span>
    </div>

    <div id="vmLoadingSpinner">
        <div class="d-flex justify-content-center">
            <div id="spinnerAnimation" class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <ul id="newJobvmList" class="list-group newJobElement newJobInput">
    </ul>
    <div class="text-center">
        <button id="newJobNextButton" type="button" class="btn btn-primary">$$next$$</button>
    </div>
</form>