<form id="page5Form">
    <h5 class="center_div subHeadline">Sicherungsziel auswählen</h5>

    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label class="enter_div" for="sbRotationType">Rotationstyp</label>
            <select id="sbTargetType" class="form-control">
                <option data-rotationtype="local" selected>Lokales Laufwerk</option>
                <option data-rotationtype="smb">Netzlaufwerk</option>
            </select>
        </span>
    </div>

    <div id="folderBrowserContainer" class="newJobElement center_div">
        <div id="folderBrowser"></div>
    </div>

    <div class="text-center">
        <button id="newJobNextButton" type="button" class="btn btn-primary">Weiter</button>
    </div>
</form>
