<form>
    <h5 class="center_div subHeadline">Allgemeine Jobeinstellungen</h5>
    <div class="form-group center_div newJobElement">
        <input type="text" class="form-control centeredElement newJobInput" id="txtJobName" placeholder="Name des neuen Jobs">
    </div>
    <div class="form-group center_div newJobElement">
        <div class="form-check center_div newJobElement">
            <span class="centeredElementSpan">
                <input type="checkbox" id="cbIncremental" checked>
                <label class="form-check-label" for="cbIncremental">Inkrementelle Backups erstellen</label>
            </span>
        </div>
        <div class="form-check center_div newJobElement">
            <span class="centeredElementSpan">
                <input type="checkbox" id="cbDedupe">
                <label class="form-check-label" for="cbDedupe">Daten-Deduplizierung verwenden</label>
            </span>
        </div>
        <div class="form-check center_div newJobElement">
            <span class="centeredElementSpan">
                <input type="checkbox" id="cbLiveBackup">
                <label class="form-check-label" for="cbLiveBackup">LiveBackup verwenden</label>
            </span>
        </div>
        <div class="form-check center_div newJobElement">
            <span class="centeredElementSpan">
                <input type="checkbox" id="cbEncryption">
                <label class="form-check-label" for="cbEncryption">Backups verschlüsseln</label>
            </span>
        </div>
        <div class="form-group center_div newJobElement">
            <input type="password" class="form-control centeredElement" id="txtEncryptionPassword" placeholder="Passwort für die Verschlüsselung">
        </div>
        <div id="lbSize" class="form-group center_div newJobElement">
            <label id="lbllbSize" class="enter_div" for="spLiveBackupSize">Maximale LiveBackup Größe in Gigabyte</label>
            <input id="spLiveBackupSize" type="number" value="2" min="1" max="50" step="1" />
        </div>
        <div class="text-center">
            <button id="newJobNextButton" type="button" class="btn btn-primary centeredElement">Weiter</button>
        </div>
    </div>
</form>