<div>
    <div class="newJobElement center_div">
        <span class="centeredElementSpan">
            <label class="enter_div" for="sbTargetType">$$backup_location$$:</label>
            <select id="sbTargetType" class="form-control">
                <option data-targettype="local" selected>$$local_drive$$</option>
                <option data-targettype="smb">$$network_drive$$</option>
            </select>
        </span>
    </div>
    <hr />

    <div id="folderBrowserContainer" class="newJobElement center_div">
        <div id="folderBrowser"></div>
    </div>


    <div class="text-center">
        <button id="checkCredentialsButton" type="button" class="btn btn-primary">$$check_credentials$$</button>
    </div>
</div>