<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="Allgemein" aria-selected="true">Allgemein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mail-tab" data-toggle="tab" href="#mail" role="tab" aria-controls="E-Mail" aria-selected="false">E-Mail</a>
    </li>
</ul>
<div class="tab-content" id="settingsTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMountPath" class="settingsInputLabel">Einhängepfad bei Wiederherstellung:</label>
                <input type="text" class="form-control settingInputControl" id="inputMountPath">
            </div>
        </div>

        <div class="settingWrapper">
            <div class="settingInput" id="resetLink">
                <a href="api/wipeDB">System zurücksetzen</a>
            </div>
        </div>
    </div>





    <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailServer" class="settingsInputLabel">Mailserver:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailServer">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <input type="checkbox" class="" id="inputMailSSL">
                <label for="inputMailSSL" class="settingsInputLabel">SSL bei Mailversand verwenden</label>
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailUser" class="settingsInputLabel">Mailserver Benutzername:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailUser">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailPassword" class="settingsInputLabel">Mailserver Passwort:</label>
                <input type="password" placeholder="Zum Ändern neues Passwort hier eingeben" class="form-control settingInputControl" id="inputMailPassword">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailSender" class="settingsInputLabel">Mail-Absender:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailSender">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailRecipient" class="settingsInputLabel">Mail-Empfänger:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailRecipient">
            </div>
        </div>
    </div>
</div>

