<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="$$general_word_settings$$" aria-selected="true">$$general_word_settings$$</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mail-tab" data-toggle="tab" href="#mail" role="tab" aria-controls="EMail" aria-selected="false">EMail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mail-tab" data-toggle="tab" href="#hypervhosts" role="tab" aria-controls="HyperV-Hosts" aria-selected="false">HyperV-Hosts</a>
    </li>
</ul>
<div class="tab-content" id="settingsTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMountPath" class="settingsInputLabel">$$mountpath_caption$$</label>
                <input type="text" class="form-control settingInputControl" id="inputMountPath">
            </div>
        </div>

        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMountPath" class="settingsInputLabel">$$language_caption$$</label>
                <select class="form-control settingInputControl" id="inputLanguage">
                    <option value="en">English</option>
                    <option value="de">Deutsch</option>
                </select>
            </div>
        </div>

        <div class="settingWrapper">
            <div class="settingInput" id="toggleOTPLink">
                <a href="#"></a>
            </div>
        </div>

        <div class="settingWrapper">
            <div class="settingInput" id="resetLink">
                <a href="#">$$reset_system$$</a>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailServer" class="settingsInputLabel">Mailserver:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailServer">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <input type="checkbox" class="" id="inputMailSSL">
                <label for="inputMailSSL" class="settingsInputLabel">$$using_ssl$$</label>
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailUser" class="settingsInputLabel">$$mailserver_user$$:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailUser">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailPassword" class="settingsInputLabel">$$mailserver_pass$$:</label>
                <input type="password" placeholder="$$change_pw_ph$$" class="form-control settingInputControl" id="inputMailPassword">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailSender" class="settingsInputLabel">$$mail_sender$$:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailSender">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput">
                <label for="inputMailRecipient" class="settingsInputLabel">$$mail_recipient$$:</label>
                <input type="text" class="form-control settingInputControl" id="inputMailRecipient">
            </div>
        </div>
        <div class="settingWrapper">
            <div class="settingInput" id="testmailLink">
                <a href="#">$$send_testmail$$</a>
            </div>
        </div>
        <div id="testMailResult" class="settingWrapper">

        </div>
    </div>

    <div class="tab-pane fade" id="hypervhosts" role="tabpanel" aria-labelledby="hypervhosts-tab">

        <ul class="list-group" id="hyperHostsList">
            {{#hosts}}
            <li data-hostid="{{id}}" class="list-group-item d-flex justify-content-between align-items-center hostsListItem">
                {{description}}
                <span>
                    <button data-hostid="{{id}}" type="button" title="$$edit$$" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button data-hostid="{{id}}" type="button" title="$$delete_confirm_button$$" class="btn btn-danger deleteHostButton">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
            </li>
            {{/hosts}}
        </ul>
        <div class="settingWrapper">
            <div class="settingInput" id="addHyperVHost">
                <a href="#">$$add_hyperv_host$$</a>
            </div>
        </div>

    </div>

</div>

