<form id="settingsForm">
    <div class="settingWrapper">
        <div class="settingInput">
            <label for="inputMountPath" class="settingsInputLabel">Einhängepfad bei Wiederherstellung:</label>
            <input type="text" class="form-control settingInputControl" id="inputMountPath">
        </div>
    </div>
    <div class="settingWrapper">
        <div class="settingInput">
            <label for="inputPassword" class="settingsInputLabel">Password</label>
            <input type="text" class="form-control settingInputControl" id="inputPassword">
        </div>
    </div>
    <div class="settingWrapper">
        <div class="settingInput" id="resetLink">
                <a href="api/wipeDB">System zurücksetzen</a>
        </div>
    </div>
</form>