<div class="settingWrapper">
    <div>
        <label for="smbPath" class="settingsInputLabel">$$target_network_drive$$:</label>
        <input placeholder="$$share_example$$" type="text" class="form-control settingInputControl" id="smbPath">
    </div>
</div>
<div class="settingWrapper">
    <div>
        <label for="inputUsername" class="settingsInputLabel">$$username$$</label>
        <input type="text" class="form-control settingInputControl" id="inputUsername">
    </div>
</div>
<div class="settingWrapper">
    <div>
        <label for="inputPassword" class="settingsInputLabel">$$password$$</label>
        <input type="password" class="form-control settingInputControl" id="inputPassword">
    </div>
</div>